@import url('https://fonts.cdnfonts.com/css/american-typewriter');
@import url('https://fonts.cdnfonts.com/css/hanken-grotesk');

body {
  padding: 0;
  margin: 0;
  /* background: linear-gradient(rgba(30, 27, 38, 0.95), rgba(30, 27, 38, 0.95));*/
  background: #3C1361;
  font-family: "American Typewriter", "AmericanTypewriter";

}

h1 {
  font-size: 12px;
  color: #bca0dc;
}

.name {
  font-size: 24px;
  color: #bca0dc;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: bold;
}

.years {
  font-size: 21px;
  color: #bca0dc;
  margin-bottom: 25px;
}

.year {
  font-size: 35px;
  color: #bca0dc;
  border: 1px solid #bca0dc;
  border-radius: 50px;
  width: max-content;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}


.border {
  border-radius: 30%;
  width: 100%;
}

.title {

  font-size: 45px;
  color: #bca0dc;
  font-family: "American Typewriter", "AmericanTypewriter";

}

.descriptionText {
  font-size: 14px;
  color: #bca0dc;
  font-family: 'Hanken Grotesk', sans-serif;
}

.backBtn {
  color: #bca0dc;
  opacity: 22%;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 25px;
}

.backBtn {
  width: 40px;
  height: 40px;
  color: #bca0dc;
  opacity: 22%;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 25px;
  cursor: pointer;
  outline: none;
  /* Estilos para dar forma de "<<", puedes ajustarlos según tus preferencias */
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom:25px;
}



.area {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.details-container {
  min-height: 100vh;
  /* Cambia height a min-height */
  width: 100%;
  overflow-y: scroll;
  position: relative;
}


.audio-player {
  /* Ajusta el alto según tus necesidades */
  position: absolute !important;
  bottom: 0 !important;
}

ul {
  margin-left: 0px;
  padding-left: 0px;
  flex-direction: column !important;
  justify-content: space-between !important;
  list-style: none;
}

.list-text {
  font-size: 15px;
  color: #bca0dc;
  opacity: 0.34;
  margin-bottom: 0;
  padding-left: 40px;
  padding-right: 40px;
}

.list-text::before {
  content: "•";
  font-size: 30px;
  vertical-align: middle;
}


.container {
  padding: 0px !important;
  margin: 0px !important;
}

.open-details {
  margin-top: 35px;
  margin-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  padding-left: 40px;
  padding-right: 40px;
}